.titulos{
	text-align: left;
	color: #8B0000;
}

body{
	text-align: left;
    margin: 0px;
    padding: 0px;
	background: lightgreen;
}

.parrafo{
	color: #00008B;
	
}

.dot{
	color: #556B2F;
}

.fondoN{
	background: black;
	color:white;
	
}
.Azulito{
	font-style: italic;
	font-weight: bold ;
	font-size: x-large; 
	color: #1344ac ;
}